<div *ngIf="channel" class="full-height full-width margin-auto flex-column justify-content-end channel-messages">
    <div class="full-width full-height flex-column justify-content-end align-items-start relative">
        <mat-spinner id="fetching-messages-spinner" *ngIf="channel.messages.isFetching" diameter="40" color="primary"></mat-spinner>
        <div #scrollableWrapper id="scrollableWrapper" class="full-height absolute full-width absolute-msg-container">
            <p class="absolute empty-channel-warning full-width text-center" *ngIf="channel.messages.data.length == 0; else messagesList">This channel has no messages yet</p>
        </div>
        <form class="asbolute user-message-form full-width flex-row">
            <mat-form-field id="mat-form-field-textarea" class="full-width">
                <textarea name="userMsg" id="user-current-message" [matTextareaAutosize] matInput placeholder="Your message" [(ngModel)]="currentUserMessage"></textarea>
            </mat-form-field>
            <button (click)="sendMsg()" [disabled]="!isMsgValid() || channel.messages.isFetching" mat-icon-button color="primary">
                <mat-icon aria-label="Send msg">send</mat-icon>
            </button>
        </form>
    </div>
</div>

<ng-template #messagesList>
    <app-message-component class="full-width" *ngFor="let message of channel.messages.data" [message]="message"></app-message-component>
</ng-template>