.channel-messages {
    overflow-y: auto;
}
#scrollableWrapper {
    top: 0;
    left: 0;
    height: calc(100% - 400px);
    overflow-y: auto;
    padding-top: 300px;
}
.empty-channel-warning {
    top: 50%;
    left: 0;
}
.user-message-form {
    bottom: 0;
    left: 0;
    background: rgba(8, 8, 8, .1);
    padding: 16px 0;
}
#fetching-messages-spinner {
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
}
#user-current-message {
    max-height: 100px;
}
#mat-form-field-textarea {
    width: 90%;
}
