<div class="flex-column" id="home-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card *ngIf="latestLaunch; else noLaunch">
        <mat-card-title-group>
            <mat-card-title>Mission {{ latestLaunch.mission_name }}</mat-card-title>
            <mat-card-subtitle>{{ latestLaunch.launch_date_local | date }}</mat-card-subtitle>
            <img mat-card-md-image [src]="latestLaunch.links.mission_patch_small">
        </mat-card-title-group>
        <mat-card-content>
            <mat-divider></mat-divider>
            <div class="flex-row">
                <mat-icon color="primary" *ngIf="latestLaunch.launch_success" svgIcon="done_outline"></mat-icon>
                <mat-icon color="warn" *ngIf="!latestLaunch.launch_success" svgIcon="cancel_outline"></mat-icon>
                <h4>Launch site: {{ latestLaunch.launch_site.site_name_long }}</h4>
            </div>
            <div class="flex-column">
                <p>{{ latestLaunch.details }}</p>
                <iframe width="100%" height="315" [src]="videoUrl">
                </iframe>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noLaunch>
    <h1>Latest launch empty</h1>
</ng-template>
