<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <p class="main-toolbar-title" align="center">
            <a href="/" class="link-logo">
                <span>The chat experience</span>
            </a>
        </p>
        <a mat-icon-button href="https://github.com/civisMundi/we-maintain-front-test" target="_blank">
            <span class="fab fa-github"></span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-drawer" mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/public">Public</a>
        </mat-nav-list>
    </mat-drawer>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<footer class="footer">
    <p>dydys' multichat</p>
    <div>
        <p class="copyright">Multipass © all rights reserved.</p>
    </div>
    <div>
        <a target="_blank" href="https://github.com/civisMundi">My work</a>
    </div>
</footer>