#home-container {
    margin: 0;
    padding: 16px 0;
    width: auto;
}

.civis-channel-container {
    max-width: 1920px;
}

.civis-channel-container .channel-messages {
    width: 80%;
    max-height: 100%;
    overflow-y: auto;
}

.civis-channel-container .channel-infos {
    width: 20%;
}

.civis-channel-container .channel-infos .channel-infos-banner{
    max-height: 200px;
    overflow: hidden;
    background-color: rgba(8, 8, 8, .3)
}

.civis-channel-container .channel-infos .channel-infos-banner .channel-infos-banner-img{
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
}

.civis-channel-container .channel-infos .channel-infos-banner .channel-infos-banner-title{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.civis-channel-container .channel-infos .channel-infos-banner .channel-infos-banner-date
{
    color: #fff;
    text-transform: capitalize;
    font-style: italic;
    font-size: 11px;
}
.absolute-msg-container {
    top: 0;
    left: 0;
    height: calc(100% - 100px);
    overflow-y: auto;
}
.empty-channel-warning {
    top: 50%;
    left: 0;
}
.user-message-form {
    bottom: 0;
    left: 0;
    background: rgba(8, 8, 8, .1);
    padding: 16px 0;
}
#fetching-messages-spinner {
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
}
#user-current-message {
    max-height: 100px;
}
#mat-form-field-textarea {
    width: 90%;
}